In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snsnuevo
import calendar
from datetime import datetime

%matplotlib inline

In [2]:
#Datos TP1
Postulaciones_Edad1 = pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
Postulaciones_Educacion1 = pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
Postulantes_Vistas1=pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/datos_navent_fiuba/fiuba_3_vistas.csv')
Postulaciones1=pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/datos_navent_fiuba/fiuba_4_postulaciones.csv')
Avisos_Online1=pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/datos_navent_fiuba/fiuba_5_avisos_online.csv')
Avisos_Detalles1=pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/datos_navent_fiuba/fiuba_6_avisos_detalle.csv')

In [3]:
#Datos Hasta el 15 de abril
Postulaciones_Edad_15A = pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/hastaAbril/fiuba_2_postulantes_genero_y_edad.csv')
Postulaciones_Educacion_15A = pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/hastaAbril/fiuba_1_postulantes_educacion.csv')
Postulantes_Vistas_15A=pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/hastaAbril/fiuba_3_vistas.csv')
Postulaciones_15A=pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/hastaAbril/fiuba_4_postulaciones.csv')
Avisos_Online_15A=pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/hastaAbril/fiuba_5_avisos_online.csv')
Avisos_Detalles_15A=pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/hastaAbril/fiuba_6_avisos_detalle.csv')

In [4]:
#Datos desde el 15 de abril
#Postulaciones_Edad_15A=pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/Abril/fiuba_1_postulantes_educacion.csv')
#Postulaciones_Educacion_15A=pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/Abril/fiuba_2_postulantes_genero_y_edad.csv')
#Postulaciones_Vistas_15A=pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/Abril/fiuba_3_vistas.csv')
#Avisos_Detalles_15A=pd.read_csv('Desktop/Bruno/ORGA DATOS/TP/Abril/fiuba_6_avisos_detalle.csv')

In [5]:
Postulaciones_Edad=pd.concat([Postulaciones_Edad1, Postulaciones_Edad_15A])
Postulaciones_Educacion= pd.concat([Postulaciones_Educacion1, Postulaciones_Educacion_15A])
Postulantes_Vistas= pd.concat([Postulantes_Vistas1, Postulantes_Vistas_15A])
Postulaciones=pd.concat([Postulaciones1, Postulaciones_15A])
Avisos_Online= pd.concat([Avisos_Online1, Avisos_Online_15A])
Avisos_Detalles= pd.concat([Avisos_Detalles1, Avisos_Detalles_15A])

In [6]:
Postulaciones_Edad

       idpostulante fechanacimiento        sexo
0              NM5M      1970-12-03         FEM
1              5awk      1962-12-04         FEM
2              ZaO5      1978-08-10         FEM
3              NdJl      1969-05-09        MASC
4              eo2p      1981-02-16        MASC
5              Ez8J      1968-12-18        MASC
6              aOQq      1966-07-16        MASC
7              8BkL      1976-07-21         FEM
8              1d2B      1976-02-28        MASC
9              NPBx      1981-03-09        MASC
10             NRE5      1973-02-13        MASC
11             YGBY      1963-04-09         FEM
12             6aGl      1967-01-30         FEM
13             EbVz      1977-07-16        MASC
14             EBO0      1973-09-11         FEM
15             10bb      1954-08-30        MASC
16             eWO2      1959-01-05        MASC
17             6Kbl      1976-09-03        MASC
18             Ym2X      1964-01-19        MASC
19             ZqWb      1971-11-08        MASC
20             ZKl5      1974-05-06        MASC
21             eBAB      1963-03-10        MASC
22             N2Vx      1966-05-30        MASC
23            EDD99      1966-03-01         FEM
24            ED0l4      1969-07-17        MASC
25            NAMRl      1976-01-25        MASC
26            Y0Q2Z      1966-06-29        MASC
27            ZjDRz      1967-06-04        MASC
28            Y043Z      1979-03-24        MASC
29            eRpw9      1972-06-29        MASC
...             ...             ...         ...
297717      xkd83qj             NaN  NO_DECLARA
297718      6rPNW9M      1992-07-15        MASC
297719      vVjoqvE             NaN  NO_DECLARA
297720      RzrDOG1             NaN  NO_DECLARA
297721      96XkbDP      1973-06-22        MASC
297722      xkd83Aa      1999-04-07        MASC
297723      QNrAbJz      1996-09-27         FEM
297724      Yj5ePDw             NaN  NO_DECLARA
297725      W9WwMxN      1998-05-07        MASC
297726      Bm5WNd0      1996-07-26         FEM
297727      xkd83wV      1993-03-23        MASC
297728      NzrvX34      1995-05-26        MASC
297729      ow2M3X4             NaN  NO_DECLARA
297730      8MPp03R             NaN  NO_DECLARA
297731      VNr4WR2      1995-10-03         FEM
297732      5mPjX3G      1999-01-10         FEM
297733      Oqr85l6             NaN  NO_DECLARA
297734      MVrowkr      2000-03-03        MASC
297735      DrXZDeL      1994-11-20         FEM
297736      zvaAYbk      1973-01-11         FEM
297737      PmGx0vJ      1997-02-27         FEM
297738      KBrENbq             NaN  NO_DECLARA
297739      3NPqmBx      1990-01-08         FEM
297740      EzeaxQ6             NaN  NO_DECLARA
297741      wVkvPrQ      1994-02-24        MASC
297742      MVrow99      1999-09-27         FEM
297743      dYjl8Mq             NaN  NO_DECLARA
297744      RzrDOmR             NaN  NO_DECLARA
297745      X95z68O      1998-10-29        MASC
297746      vVjoqbj             NaN  NO_DECLARA

[498635 rows x 3 columns]

In [7]:
Postulaciones_Edad.isnull().any()

idpostulante       False
fechanacimiento     True
sexo               False
dtype: bool

In [8]:
Postulaciones_Edad['fechanacimiento']= pd.to_datetime(Postulaciones_Edad['fechanacimiento'],errors = 'coerce', format='%Y-%m-%d')

In [9]:
def calcularedad(ano,mes,dia):
    edadA= 2018-ano
    edadM= 6-mes
    edadD= 22-dia
    if (edadM>0):
        if(edadD>0):
            return edadA
    return edadA-1

Postulaciones_Edad['edad'] = Postulaciones_Edad['fechanacimiento'].map(lambda x: calcularedad(x.year,x.month,x.day))

In [10]:
len(Postulaciones_Edad)

498635

In [11]:
Postulaciones_Edad = Postulaciones_Edad.loc[Postulaciones_Edad['edad']>18,:]
Postulaciones_Edad= Postulaciones_Edad.loc[Postulaciones_Edad['edad']<80,:]

In [12]:
len(Postulaciones_Edad)

469464

In [13]:
Postulaciones_Edad['edad'].isnull().any()

False

In [14]:
del(Postulaciones_Edad['fechanacimiento'])

In [15]:
Postulaciones_Edad['edad'].value_counts()

26.0    27004
25.0    26174
27.0    25777
24.0    25680
23.0    24952
28.0    23293
22.0    23229
29.0    22221
21.0    20973
30.0    20306
31.0    18982
20.0    17561
32.0    16952
33.0    15199
34.0    14029
19.0    13246
35.0    13161
36.0    12563
37.0    11483
38.0    10840
39.0     9917
40.0     8846
41.0     7992
42.0     7221
43.0     6337
44.0     5394
45.0     4805
46.0     4541
47.0     4053
48.0     3547
        ...
50.0     2784
51.0     2453
52.0     2179
53.0     1959
54.0     1785
55.0     1635
56.0     1507
57.0     1328
58.0     1026
59.0      829
60.0      637
61.0      570
62.0      387
63.0      273
64.0      195
65.0      140
66.0      118
67.0       93
68.0       78
69.0       53
70.0       33
71.0       17
73.0       14
72.0       13
74.0       12
75.0        9
76.0        6
78.0        4
79.0        3
77.0        2
Name: edad, Length: 61, dtype: int64

In [16]:
Postulaciones_Edad.drop_duplicates(subset=['idpostulante'], keep='last', inplace=True)

In [17]:
len(Postulaciones_Edad)

381763

In [18]:
Postulaciones_Educacion

       idpostulante             nombre      estado
0              NdJl           Posgrado    En Curso
1              8BkL      Universitario    En Curso
2              1d2B      Universitario    En Curso
3              NPBx      Universitario    En Curso
4              NPBx             Master    En Curso
5              Ym2X               Otro    En Curso
6              ZKl5             Master    En Curso
7             EDD99  Terciario/Técnico    En Curso
8             Y043Z      Universitario    En Curso
9             6M3jr      Universitario    En Curso
10            EpDDJ      Universitario    En Curso
11            abpEZ               Otro    En Curso
12            EZD29      Universitario    En Curso
13            EZD29  Terciario/Técnico    En Curso
14            EZD29               Otro    En Curso
15            YrkoJ             Master    En Curso
16            Z85B5      Universitario    En Curso
17            axaPJ           Posgrado    En Curso
18            1QLLO      Universitario    En Curso
19            Nmkzz  Terciario/Técnico    En Curso
20            6bK4l           Posgrado    En Curso
21            ZvqJ1      Universitario    En Curso
22            eZPbB      Universitario    En Curso
23            aJ5N5           Posgrado    En Curso
24            NOVYV  Terciario/Técnico    En Curso
25            Z48mz           Posgrado    En Curso
26            6JAlR             Master    En Curso
27            ex4j2      Universitario    En Curso
28            6LO1M      Universitario    En Curso
29            5dLpZ      Universitario    En Curso
...             ...                ...         ...
407423      6rPEZY4      Universitario  Abandonado
407424      PmGPLDY  Terciario/Técnico  Abandonado
407425      0zPada1      Universitario  Abandonado
407426      OqrlPoW      Universitario  Abandonado
407427      vVja9YP      Universitario  Abandonado
407428      bOjXVA0      Universitario  Abandonado
407429      DrXeJbA         Secundario  Abandonado
407430      0zPakor  Terciario/Técnico  Abandonado
407431      QNrBE5q         Secundario  Abandonado
407432      96XvzB8         Secundario  Abandonado
407433      DrXeJMa      Universitario  Abandonado
407434      lDLjLG6      Universitario  Abandonado
407435      vVjajNG      Universitario  Abandonado
407436      A3X4Xxm      Universitario  Abandonado
407437      KBr2rGY      Universitario  Abandonado
407438      ow2p214      Universitario  Abandonado
407439      bOjXw0V      Universitario  Abandonado
407440      JBrNMYb  Terciario/Técnico  Abandonado
407441      ow2p8vk      Universitario  Abandonado
407442      LNKpb8k      Universitario  Abandonado
407443      VNr0VD2  Terciario/Técnico  Abandonado
407444      VNr0Vqj      Universitario  Abandonado
407445      GNZqV9E      Universitario  Abandonado
407446      6rPEAjl  Terciario/Técnico  Abandonado
407447      8MPoV8W  Terciario/Técnico  Abandonado
407448      1QPM9KO      Universitario  Abandonado
407449      6rPEAXv      Universitario  Abandonado
407450      4rPb8DK      Universitario  Abandonado
407451      5mPJN0X         Secundario  Abandonado
407452      6rPEq6x  Terciario/Técnico  Abandonado

[705684 rows x 3 columns]

In [19]:
def cuantificar_estudios(row):
    if (row['nombre'] == 'Doctorado'):
        row['nombre'] = 7
    if (row['nombre'] == 'Master'):    
        row['nombre'] = 6
    if (row['nombre'] == 'Posgrado'):    
        row['nombre'] = 5
    if (row['nombre'] == 'Universitario'):    
        row['nombre'] = 4
    if (row['nombre'] == 'Terciario/Técnico'):    
        row['nombre'] = 3
    if (row['nombre'] == 'Secundario'):    
        row['nombre'] = 2
    if (row['nombre'] == 'Otro'):    
        row['nombre'] = 1    
        
    if (row['estado'] == 'Graduado'):
        row['estado'] = 3
    if (row['estado'] == 'En Curso'):    
        row['estado'] = 2
    if (row['estado'] == 'Abandonado'):    
        row['estado'] = 1
        
    return row    

def descuantificar_estudios(row):
    if (row['nombre'] == 7):
        row['nombre'] = 'Doctorado'
    if (row['nombre'] == 6):    
        row['nombre'] = 'Master'
    if (row['nombre'] == 5):    
        row['nombre'] = 'Posgrado'
    if (row['nombre'] == 4):    
        row['nombre'] = 'Universitario'
    if (row['nombre'] == 3):    
        row['nombre'] = 'Terciario/Tecnico'
    if (row['nombre'] == 2):    
        row['nombre'] = 'Secundario'
    if (row['nombre'] == 1):    
        row['nombre'] = 'Otro'    
        
    if (row['estado'] == 3):
        row['estado'] = 'Graduado'
    if (row['estado'] == 2):    
        row['estado'] = 'EnCurso'
    if (row['estado'] == 1):    
        row['estado'] = 'Abandonado'
        
    return row

In [20]:
Postulaciones_Educacion.apply(lambda row: cuantificar_estudios(row), axis=1)

       idpostulante  nombre  estado
0              NdJl       5       2
1              8BkL       4       2
2              1d2B       4       2
3              NPBx       4       2
4              NPBx       6       2
5              Ym2X       1       2
6              ZKl5       6       2
7             EDD99       3       2
8             Y043Z       4       2
9             6M3jr       4       2
10            EpDDJ       4       2
11            abpEZ       1       2
12            EZD29       4       2
13            EZD29       3       2
14            EZD29       1       2
15            YrkoJ       6       2
16            Z85B5       4       2
17            axaPJ       5       2
18            1QLLO       4       2
19            Nmkzz       3       2
20            6bK4l       5       2
21            ZvqJ1       4       2
22            eZPbB       4       2
23            aJ5N5       5       2
24            NOVYV       3       2
25            Z48mz       5       2
26            6JAlR       6       2
27            ex4j2       4       2
28            6LO1M       4       2
29            5dLpZ       4       2
...             ...     ...     ...
407423      6rPEZY4       4       1
407424      PmGPLDY       3       1
407425      0zPada1       4       1
407426      OqrlPoW       4       1
407427      vVja9YP       4       1
407428      bOjXVA0       4       1
407429      DrXeJbA       2       1
407430      0zPakor       3       1
407431      QNrBE5q       2       1
407432      96XvzB8       2       1
407433      DrXeJMa       4       1
407434      lDLjLG6       4       1
407435      vVjajNG       4       1
407436      A3X4Xxm       4       1
407437      KBr2rGY       4       1
407438      ow2p214       4       1
407439      bOjXw0V       4       1
407440      JBrNMYb       3       1
407441      ow2p8vk       4       1
407442      LNKpb8k       4       1
407443      VNr0VD2       3       1
407444      VNr0Vqj       4       1
407445      GNZqV9E       4       1
407446      6rPEAjl       3       1
407447      8MPoV8W       3       1
407448      1QPM9KO       4       1
407449      6rPEAXv       4       1
407450      4rPb8DK       4       1
407451      5mPJN0X       2       1
407452      6rPEq6x       3       1

[705684 rows x 3 columns]

In [21]:
Postulaciones_Educacion.sort_values(['nombre','estado'], inplace=True)

In [22]:
Postulaciones_Educacion

       idpostulante nombre estado
3460          111ER      1      1
3504         Y0Gmvr      1      1
7442         5m6Qdp      1      1
7492         8Erb1j      1      1
7533         arE39E      1      1
7571         66BKGO      1      1
7621         ZEQ18V      1      1
7772         NNa4EM      1      1
7778         E5N3L4      1      1
7825         5LdXJw      1      1
11448        1LM4Gj      1      1
11475        8Ld2Wx      1      1
11776        ZP4PlR      1      1
11815        YVqB4Y      1      1
15652        6PeE1L      1      1
15679        YOPZ2Z      1      1
15826        E8mEj2      1      1
19517        19MqYj      1      1
19563        EAaaA6      1      1
19583        12wKBB      1      1
19590        5Na0dZ      1      1
19612        ERZGA4      1      1
19686        ZRRaEb      1      1
19737        6q14Nl      1      1
19739        6qpB54      1      1
19789        NRxrvL      1      1
19800        epKDp2      1      1
19815        epwQ4p      1      1
23322        ERabD9      1      1
23340        8J0OK3      1      1
...             ...    ...    ...
340881      6r5AGGr      7      3
344204       16weJ3      7      3
345688      wVOR2PV      7      3
345824      EzOGBL6      7      3
347411      lD5RQq3      7      3
351071      ZDaOEqV      7      3
354549      bOj3Mjd      7      3
354569      Bm51kW2      7      3
362462       19rkVR      7      3
368769       ZdWOqY      7      3
369104      mzbzObZ      7      3
369459      MVd1Or9      7      3
372347      3NP3LNP      7      3
374176       5Q0rAX      7      3
374478       69kvMl      7      3
378045      vVjdRZ1      7      3
378135      6rP3jRl      7      3
383692      QNrz2G2      7      3
386961      JBeENdO      7      3
387124      2zQQ9Xa      7      3
394446       1lKR3L      7      3
394803       EqwJMo      7      3
398665      OqmK81N      7      3
398955      EzZKLJ6      7      3
399894      PmGXvB0      7      3
400140      vVjaVRP      7      3
401634        1pj6z      7      3
402260       Y9LYP1      7      3
405649      ekm8354      7      3
406511      wVkwxVm      7      3

[705684 rows x 3 columns]

In [23]:
len(Postulaciones_Educacion)

705684

In [24]:
Postulaciones_Educacion[Postulaciones_Educacion['idpostulante'] == '8BkL']

     idpostulante nombre estado
1            8BkL      4      2
678          8BkL      4      3
8729         8BkL      4      3
679          8BkL      5      3
8730         8BkL      5      3
680          8BkL      6      3
8731         8BkL      6      3

In [25]:
Postulaciones_Educacion.drop_duplicates(subset = ['idpostulante'], keep = 'last', inplace = True)

In [26]:
len(Postulaciones_Educacion)

366395

In [27]:
Postulaciones_Educacion[Postulaciones_Educacion['idpostulante'] == '8BkL']

     idpostulante nombre estado
8731         8BkL      6      3

In [28]:
Postulantes= pd.merge(Postulaciones_Educacion, Postulaciones_Edad, on='idpostulante', how='outer')

In [29]:
Postulantes

       idpostulante nombre estado  sexo  edad
0            60OE3j      1      1   FEM  29.0
1            ZBYBbR      1      1   FEM  32.0
2            1Y4V2j      1      1  MASC  44.0
3            E9YNp9      1      1   FEM  44.0
4           3Nkz8NJ      1      1   FEM  27.0
5           6r26rkl      1      1  MASC  43.0
6           ekNrVl2      1      1  MASC  39.0
7           1QrkQ1Q      1      1  MASC  29.0
8           RzM9KbO      1      1  MASC  53.0
9           ow5xG1Z      1      1  MASC  47.0
10          Dr6dWbP      1      1  MASC  40.0
11          wVXZ9vL      1      1  MASC  28.0
12          QNa2WdN      1      1   FEM  28.0
13          zv8N19D      1      1  MASC  60.0
14          Dr69v2W      1      1  MASC  33.0
15          8MaXqrR      1      1  MASC  38.0
16          QNM5JbN      1      1  MASC  28.0
17          akDVDQm      1      1  MASC  29.0
18          MVeO1pp      1      1  MASC  34.0
19          VNe6dxM      1      1  MASC  22.0
20          4reLvMz      1      1  MASC  28.0
21          owE8M34      1      1   FEM  44.0
22          ZD2xEXR      1      1   FEM  26.0
23          YjQZJvw      1      1   FEM  30.0
24          OqdWjdp      1      1  MASC  39.0
25          X9oLdYK      1      1  MASC  23.0
26          MVzkAqL      1      1  MASC  30.0
27          xkae9Zj      1      1  MASC  32.0
28          NzPRBQM      1      1  MASC  53.0
29          vVDLpXX      1      1  MASC  41.0
...             ...    ...    ...   ...   ...
394974      rmdaDbA    NaN    NaN  MASC  26.0
394975      3NPqmmQ    NaN    NaN  MASC  30.0
394976      Bm5WNNL    NaN    NaN  MASC  26.0
394977      qe20o3x    NaN    NaN  MASC  55.0
394978      LNK9GDP    NaN    NaN   FEM  21.0
394979      qe20oqx    NaN    NaN  MASC  25.0
394980      PmGx0Vj    NaN    NaN  MASC  47.0
394981      QNrAbL5    NaN    NaN  MASC  35.0
394982      kPjWAP1    NaN    NaN  MASC  39.0
394983      A3Xr5Z6    NaN    NaN  MASC  21.0
394984      Ezeax5J    NaN    NaN  MASC  59.0
394985      kPjWAmW    NaN    NaN   FEM  29.0
394986      ZDrmbNE    NaN    NaN   FEM  23.0
394987      A3Xr5R1    NaN    NaN   FEM  20.0
394988      xkd83Mb    NaN    NaN  MASC  27.0
394989      4rPRVM5    NaN    NaN  MASC  26.0
394990      Bm5WN6v    NaN    NaN  MASC  35.0
394991      DrXZDba    NaN    NaN  MASC  26.0
394992      zvaAYLb    NaN    NaN   FEM  19.0
394993      ekOPEMB    NaN    NaN  MASC  20.0
394994      QNrAb6N    NaN    NaN   FEM  29.0
394995      96Xkb4v    NaN    NaN  MASC  20.0
394996      akjp9Wm    NaN    NaN   FEM  44.0
394997      ekOPEYr    NaN    NaN  MASC  29.0
394998      Oqr85AW    NaN    NaN  MASC  29.0
394999      xkd83Aa    NaN    NaN  MASC  19.0
395000      xkd83wV    NaN    NaN  MASC  24.0
395001      5mPjX3G    NaN    NaN   FEM  19.0
395002      PmGx0vJ    NaN    NaN   FEM  20.0
395003      3NPqmBx    NaN    NaN   FEM  28.0

[395004 rows x 5 columns]

In [30]:
Postulantes.isnull().any()

idpostulante    False
nombre           True
estado           True
sexo             True
edad             True
dtype: bool

In [31]:
from collections import Counter

In [32]:
Postulantes['edad'].value_counts()

26.0    21797
25.0    21163
24.0    20903
27.0    20666
23.0    20449
22.0    19216
28.0    18722
29.0    17859
21.0    17564
30.0    16312
31.0    15309
20.0    14799
32.0    13642
33.0    12218
19.0    11316
34.0    11287
35.0    10605
36.0    10142
37.0     9280
38.0     8745
39.0     8037
40.0     7153
41.0     6508
42.0     5883
43.0     5145
44.0     4426
45.0     3927
46.0     3631
47.0     3271
48.0     2914
        ...
50.0     2265
51.0     1984
52.0     1779
53.0     1581
54.0     1436
55.0     1329
56.0     1202
57.0     1085
58.0      837
59.0      670
60.0      526
61.0      468
62.0      312
63.0      235
64.0      169
65.0      121
66.0      108
67.0       79
68.0       66
69.0       47
70.0       27
71.0       16
72.0       13
73.0       12
74.0       12
75.0        6
76.0        6
78.0        4
79.0        3
77.0        2
Name: edad, Length: 61, dtype: int64

In [33]:
Postulantes['edad'].isnull().value_counts()

False    381763
True      13241
Name: edad, dtype: int64

In [34]:
Postulantes['edad'].fillna(random.choice([26.0,25.0,24.0,27.0,23.0]), inplace=True)

NameError: name 'random' is not defined

In [ ]:
Postulantes['edad'].isnull().any()

In [ ]:
Postulantes['nombre'].isnull().any()

In [ ]:
Postulantes['nombre'].fillna(2,inplace=True)

In [ ]:
Postulantes['estado'].fillna(3,inplace=True)

In [ ]:
Postulantes['sexo'].value_counts()

In [ ]:
Postulantes[Postulantes['sexo']=='NO_DECLARA']=random.choice(['MASC','FEM'])
Postulantes[Postulantes['sexo']=='0.0']=random.choice(['MASC','FEM'])

In [ ]:
Postulantes

In [ ]:
Postulantes_Vistas

In [ ]:
Postulaciones.drop_duplicates(['idaviso', 'idpostulante', 'fechapostulacion'], keep='last', inplace=True)

In [ ]:
Postulaciones

In [ ]:
Avisos_Online

In [ ]:
Avisos_Detalles

In [ ]:
Avisos_Detalles['nombre_zona'].value_counts()

In [ ]:
Avisos_Detalles['nombre_zona'].value_counts()

In [ ]:
Avisos_Detalles[Avisos_Detalles['nombre_zona']=='GBA Oeste']= 'Gran Buenos Aires'
Avisos_Detalles[Avisos_Detalles['nombre_zona']=='Buenos Aires (fuera de GBA)']= 'Gran Buenos Aires'

In [ ]:
Avisos_Detalles['nombre_zona'].value_counts()

In [ ]:
del(Avisos_Detalles['idpais'])

In [ ]:
Avisos_Detalles['mapacalle'].isnull().count()

In [ ]:
del(Avisos_Detalles['mapacalle'])

In [ ]:
Avisos_Detalles['ciudad'].isnull().count()

In [ ]:
del(Avisos_Detalles['ciudad'])

In [ ]:
Avisos_Detalles['titulo'].value_counts()

In [ ]:
Data=Avisos_Detalles.copy(deep=True)

In [ ]:
Data

In [ ]:
stop_words=['a','de','del','en', 'una','su', 'sus', 'te','para', 'ante','zona',
            '/o' , 'y','vaya','al', 'z/', 'para','sr.', 'sr',
            'o', 'la', 'al','las','el', 'lo', 'los', 'mas', 'me', 
            'menos', 'mi', 'mis', 'misma', 'mismo', 'mucha', 'muchas', ' turno','busca',
             'con','no','si','es', 'por','of','for','to','urgente!!!','m','l','l-' , ',', '.' ,'/', '( ',')'
             ,'-','--','+', '//' ,'y/o','|', 'p/', '/a','&','área',  
            '1' ,'2' ,'3','4', '5', '6', '7']

In [ ]:
#def clean_text(fila):
 #   z=''
  #  for x in fila.lower().split():
   #         if not x in stop_words: z=x+' '+z
            
   # return z

def clean_text(fila):
        fila = fila.lower().split()
        z = [word for word in fila if word not in stop_words]
        return z

import re

def cleanhtml(fila):
  cleanr = re.compile('<.*?>')
  cleantext = re.sub(cleanr, '', fila)
  return cleantext

In [ ]:
Data.at[0,'descripcion']

In [ ]:
Data['titulo']= Data.apply(lambda row: clean_text(row['titulo']), axis=1)
Data['descripcion']=Data.apply(lambda row: cleanhtml(row['descripcion']), axis=1)
#Data['descripcion']=Data.apply(lambda row: clean_text(row['descripcion']), axis=1)

In [ ]:
Data.at[0,'descripcion']

In [ ]:
Data

In [ ]:
Data['titulo']

In [ ]:

def titulo(x):
        n=''
        z=[]
        for n in x:
            #n= n.strip('-');
            #n= n.strip(')');
            #n= n.strip('(');
            #n= n.strip('/');
            n=n.replace('ó', 'o')
            n=n.replace('á', 'a')
            n=n.replace('í', 'i')
            n=n.replace('é', 'e')
            n=n.replace('ú', 'u')
            z.append(n)
        return z

In [ ]:
Data['titulo']= Data.apply(lambda row: titulo(row['titulo']), axis=1)

In [ ]:
Data['tipo_de_trabajo'].value_counts()

In [ ]:
def clasificacion_trabajo(tipo):
    if(tipo=='Full-time'):
        return 'Full-time';
        
    if(tipo=='Part-time'):
        return 'Part-time';
           
    return 'otros';

In [ ]:
Data['tipo_de_trabajo']=Data.apply(lambda row: clasificacion_trabajo(row['tipo_de_trabajo']), axis=1)

In [ ]:
Data

In [ ]:
Data['tipo_de_trabajo'].value_counts()

In [ ]:
from sklearn.preprocessing import LabelBinarizer

lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(Data["tipo_de_trabajo"])

In [ ]:
Data['Full-time']= lb_results[:,0]
Data['Part-time']= lb_results[:,1]
Data['Otro Tipo']=lb_results[:,2]

In [ ]:
del(Data['tipo_de_trabajo'])

In [ ]:
Data

In [ ]:
from sklearn.preprocessing import LabelBinarizer

lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(Data['nombre_zona'])

In [ ]:
Data['nombre_zona']=lb_results

In [ ]:
Data

In [ ]:
Data['nivel_laboral'].value_counts()

In [ ]:
Data[Data['nivel_laboral']=='Gran Buenos Aires' ]='Otro'

In [ ]:
from sklearn.preprocessing import LabelBinarizer

lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(Data['nivel_laboral'])

In [ ]:
Data['Gerencia-Direccion']= lb_results[:,0]
Data['Jefe - Supervisor']= lb_results[:,1]
Data['Junior']= lb_results[:,2]
Data['Otro Cargo']= lb_results[:,3]
Data['Senior - Semi-Senior ']= lb_results[:,4]

In [ ]:
Data

In [ ]:
del(Data['nivel_laboral'])

In [ ]:
from collections import Counter

In [ ]:
Counter(z).most_common(300)

In [ ]:
Data['nombre_area'].value_counts()

In [ ]:
Data[Data['nombre_area']=='Soporte Técnico']='Tecnologia / Sistemas '

In [ ]:
Data['nombre_area'].value_counts()

In [ ]:
del(Data['denominacion_empresa'])

In [ ]:
D

In [ ]:
postulaciones_postulantes = pd.merge(postulaciones, postulantes_joined, on='idpostulante', how='left')

In [ ]:
def parse_documentation(lines):
    invalidsymbols=["`","~","!", "@","#","$"]
    for line in lines: # for each line in lines
        for x in invalidsymbols: # loop through the list of invalid symbols
            if x in line: # if the invalid symbols is in the line
                print(line) # print out the line
                print(x) # and also print out the invalid symbol you encountered in that line
                print(line.replace(x, ""))

In [ ]:
Postulantes_Vistas

In [ ]:
SizePostulantes= Postulantes_Vistas['idpostulante'].value_counts().size

In [ ]:
SizePostulantes

In [ ]:
SizeAvisos =Postulantes_Vistas['idAviso'].value_counts().size

In [ ]:
SizeAvisos

In [ ]:
Postulantes_Vistas['idAviso'].value_counts()

In [ ]:
SizePostulantes/SizeAvisos

In [ ]:
Postulantes_Vistas['vistas']=0

In [ ]:
Vistas= Postulantes_Vistas.groupby(Postulantes_Vistas['idAviso']).agg({'vistas':'count'})

In [ ]:
del(Postulantes_Vistas['vistas'])

In [ ]:
Vistas.reset_index(inplace=True)

In [ ]:
Vistas

In [ ]:
Vistas['vistas'].max()

In [ ]:
Postulantes_Vistas.count()

In [ ]:
Postulantes_Vistas=pd.merge(Postulantes_Vistas, Vistas, on='idAviso', how='outer')

In [ ]:
Postulantes_Vistas['vistas']=Postulantes_Vistas['vistas']*0.2

In [ ]:
Postulantes_Vistas